body {
    font-family: Nunito;
    margin: 50px;
    display: flex;
  }
  
  .box {
    border: 1px solid black;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 50px;
  }
  
  .box1 {
    background-color: red;
  }
  
  .box2 {
    background-color: blue;
  }
  
  .box3 {
    background-color: yellow;
  }
  
  .box4 {
    background-color: black;
  }  