body {
    font-family: Nunito;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
    color: blueviolet;    
}

img {
    width: 20%;
    height: auto;
    margin: 20px;
    padding: 20px;
    display: block;    
}